In [70]:
from pandas import read_csv, read_table
import glob
import pandas as pd
import numpy as np

In [6]:
csvs = [name for name in glob.glob('/home/ben/Desktop/offshore_leaks_csvs/*.csv')]

In [7]:
dfs = [read_csv(csv, sep=",", error_bad_lines=False) for csv in csvs]

In [8]:
dfnames = ["Entities", "Intermediaries", "Graph", "Addresses", "Officers"]

In [16]:
np.unique(dfs[2]['rel_type'])

array(['intermediary_of', 'officer_of', 'registered_address', 'similar',
       'underlying'], dtype=object)

In [136]:
[(name,df.shape) for (name,df) in zip(dfnames,dfs)]

[('Entities', (319150, 21)),
 ('Intermediaries', (23636, 9)),
 ('Graph', (1265690, 3)),
 ('Addresses', (151054, 7)),
 ('Officers', (345594, 7))]

In [137]:
dfs[0].columns.values,dfs[-2].columns.values

(array(['name', 'original_name', 'former_name', 'jurisdiction',
        'jurisdiction_description', 'company_type', 'address',
        'internal_id', 'incorporation_date', 'inactivation_date',
        'struck_off_date', 'dorm_date', 'status', 'service_provider',
        'ibcRUC', 'country_codes', 'countries', 'note', 'valid_until',
        'node_id', 'sourceID'], dtype=object),
 array(['address', 'icij_id', 'valid_until', 'country_codes', 'countries',
        'node_id', 'sourceID'], dtype=object))

In [98]:
tmp = dfs[0].merge(dfs[-2], on='node_id', how='outer')

In [103]:
any(tmp['countries_x'] == 'Denmark')

True

In [114]:
tmp[tmp['countries_x'] == 'Denmark'].shape

(14, 27)

In [109]:
tmp[tmp['countries_x'] == 'Denmark'][['address_x','name','countries_x']]

,address_x,name,countries_x
105675,"PETER BUKHAVE NDR. FASANVER 85, IV TH DK-2000 ...",MACERA HOLDINGS INC.,Denmark
123989,MR JORN KVIST HANSEN Wilkensvej 29 3.T.V. 2000...,KVIST CONSULTING LIMITED,Denmark
130625,MADS MORTENSEN VIRKELYSTVEJ 21; 6100 HADERSLEV...,DTBD S.A.,Denmark
162460,MR. CARL-ERIK REYNHEIM KONGSGIL 13 FR-100 TORS...,LIFARA INTERNATIONAL INC.,Denmark
173076,"ADVOKAT A. MUNCH LENDAL SANK ANNA GADE 49, 1 3...",HOMELAND PROPERTIES LIMITED,Denmark
175132,"IVERSEN & CO. CONNECTAS HOUSE 17, GI. MONT DK-...",HOLDAN GROUP LTD.,Denmark
186583,NEW HAVEN TRUST A/S KLOTERSTRAEDE 23; 1; SAL 1...,MDC CAPITAL LIMITED,Denmark
248606,VASEVEJ 19B; 2840 HOLTE; DENMARK,Lykkegaard International Ltd.,Denmark
277248,"IVERSEN & CO. CONNECTAS HOUSE 17, GI. MONT DK-...",TRIO FILMS S.A.,Denmark
277759,MR. CARL-ERIK REYNHEIM KONGSGIL 13 FR-100 TORS...,BLACK LAKE PROPERTIES LTD.,Denmark
279505,THE OFFSHORE CORPORATION KILDEGAARDSVEJ 8C 290...,RESCUE LIGHT CARIBBEAN LTD.,Denmark
279701,RACEFIELD INVESTMENTS LTD. C/O THAILUTEX BLEGD...,RACEFIELD INVESTMENTS LIMITED,Denmark
283671,KARIN REYNHEIM HUMLEMARKEN 24 2.TV DK-3060 ESP...,DANTINE COMPANY S.A.,Denmark
291504,HELGI NICLASEN BELVEDEREVEJ 12. B. DK 3000 H...,BORDINE TRADING INC.,Denmark

In [120]:
foo = pd.concat((dfs[0], dfs[-2]))

In [134]:
#[nodid for nodid in dfs[0]['node_id'] if (nodid in dfs[-2]['node_id'])]

In [123]:
foo[(foo['countries'] == 'Denmark')][['address','name']]

,address,name
105675,"PETER BUKHAVE NDR. FASANVER 85, IV TH DK-2000 ...",MACERA HOLDINGS INC.
123989,MR JORN KVIST HANSEN Wilkensvej 29 3.T.V. 2000...,KVIST CONSULTING LIMITED
130625,MADS MORTENSEN VIRKELYSTVEJ 21; 6100 HADERSLEV...,DTBD S.A.
162460,MR. CARL-ERIK REYNHEIM KONGSGIL 13 FR-100 TORS...,LIFARA INTERNATIONAL INC.
173076,"ADVOKAT A. MUNCH LENDAL SANK ANNA GADE 49, 1 3...",HOMELAND PROPERTIES LIMITED
175132,"IVERSEN & CO. CONNECTAS HOUSE 17, GI. MONT DK-...",HOLDAN GROUP LTD.
186583,NEW HAVEN TRUST A/S KLOTERSTRAEDE 23; 1; SAL 1...,MDC CAPITAL LIMITED
248606,VASEVEJ 19B; 2840 HOLTE; DENMARK,Lykkegaard International Ltd.
277248,"IVERSEN & CO. CONNECTAS HOUSE 17, GI. MONT DK-...",TRIO FILMS S.A.
277759,MR. CARL-ERIK REYNHEIM KONGSGIL 13 FR-100 TORS...,BLACK LAKE PROPERTIES LTD.
279505,THE OFFSHORE CORPORATION KILDEGAARDSVEJ 8C 290...,RESCUE LIGHT CARIBBEAN LTD.
279701,RACEFIELD INVESTMENTS LTD. C/O THAILUTEX BLEGD...,RACEFIELD INVESTMENTS LIMITED
283671,KARIN REYNHEIM HUMLEMARKEN 24 2.TV DK-3060 ESP...,DANTINE COMPANY S.A.
291504,HELGI NICLASEN BELVEDEREVEJ 12. B. DK 3000 H...,BORDINE TRADING INC.
1214,Klerkegade 25D 1308 Copenhagen Denmark,NaN
1656,"RUGMARKEN 6 B, NØRRE BJERT 6000 KOLDING, DENMARK",NaN
1989,"Efteraarsvej 15, 2920 Charlottenlund Denmark",NaN
4487,"Egevej 28, 7500 Holstebro Denmark",NaN
11446,"Akacievej 6, 2791 Dragor Denmark.",NaN
15793,Klerkegade 25D 308 Copenhangen Denmark,NaN
16280,"Blytaekkervej 6, 4300 Holbaek, Denmark",NaN
26033,Geelsvej 29 2840 Holte Denmark,NaN
26767,Hovedgade 92 7752 Snedsted DENMARK,NaN
42040,"Abildgaardsvej 23, Thuroe DK-5700 Svendborg, D...",NaN
42939,"G1. Landevej 95, Sporring 8380 Trige Denmark",NaN
44842,c/o LetBot ApS Postboks 367 Jernbanegade 7 B 6...,NaN
48501,"KIRKEVEJ 4, NOEDEBO 3480 FREDENSBORG, DENMARK",NaN
55295,"VED VOLDEN 8, 4tv, 1425 COPENHAGEN K, DENMARK",NaN
56253,Soendervang 29 Stoevring 9530 Denmark,NaN
71579,PUGGAARDSGADE 17; 4TH.; DK-1573 COPENHAGEN V,NaN
...,...,...
115517,CENTER BOULEVARD 5; DK-2300 COPENHAGEN; DEMARK,NaN
117364,Damfaergeve 3 1 TV DK-2100 Copenhagen 0 Denmark,NaN
117369,Dampfaergeve 3 1 TV DK-2100 Capenhagen 0 Denmark,NaN
118598,"Elnasvej 10, DK-2840 Holte",NaN
119083,Fasanvej 2; 9560 Hadsund; Denmark,NaN
119380,Fjordvej 60; Strandhuse; DK-6000 kolding,NaN
119381,FJORDVEY 2; DK-6000 KOLDING; DENMARK,NaN
123009,Formervangen20; 2600 Glostrup; Denmark,NaN
123170,Fredens Torv 3a; 8000 Aarhus C; Denmark,NaN
123172,Frederik Raschs Vej 2A; 9400 Norresundby; Denmark,NaN
123173,Frederiksberg All 43; 3th 1820; Frederiksberg ...,NaN
123174,Frederiksgade 21; 1st Floor; DK-1265 Copenhage...,NaN
123277,"FYRREMEJSEVEJ 12, 8250 DENMARK",NaN
123737,GØngehusvej 141; 2950 Vedbaek; Denmark,NaN
123791,GOTHERSGADE 143; 1223 COPENHAGEN; DENMARK,NaN
124339,Hammelstrupvej 3; 3.th; 2450 Copenhagen SV; De...,NaN
124878,"Hojmarken 3 DK 7100 Vejle, Denmark",NaN
125908,"Islands Brygge 34B, 4TV 2300 Copenhagen S Denmark",NaN
127425,Klovermarken 43A; 9530 Arden; Denmark,NaN
128918,LIMDEHJOMET 24; DK 2605 BROMDBY; DEMMARK,NaN
129458,Maglemosevej 57 2920 Charlottenlund Denmark,NaN
129778,Margrethe Alle6; 2950 Vedback; Denmark,NaN
139678,NORDRE STRANDV. 16; 2791 DRAGR; DENMARK,NaN
141505,Tom Kristensens VEJ 28 7th; 2300 Copanhagen S;...,NaN
141932,TRORODVEJ 30; DK-2950 VEDBEK; DENMARK,NaN
143881,Vasevej 19B; 2840 Holte; Denmark,NaN
143916,Ved Kaeret 12; 2690 Karlslunde; Denmark,NaN
145415,WILSTERGADE 33 A I; ARHUS C; DENMARK,NaN
146990,LYNGJERGGVEJ 49 7900 NYKOBING MORS KROGH & PAR...,NaN
150151,KOSTANIEVEY 24; 4690 HASLEV; DENMARK,NaN

In [88]:
tmp[tmp['countries_x'] == 'Denmark'][['name','node_id','address']]

                                            name     node_id address
3675                             Thomas HEITMANN     87931.0     NaN
11246                         Peter Rene Kubicki     92193.0     NaN
15101                         William Carl Frick     95060.0     NaN
22694                              JEPPE LAURSEN     80238.0     NaN
24371                               ASLAM AKHTAR     91441.0     NaN
27390                             Martin Glesner     93765.0     NaN
30228                             Kasper LESCHLY     93008.0     NaN
38433                         Ole B. Christensen    116224.0     NaN
39126            Mogens Justin Marcell FANNUCCHI     99339.0     NaN
41827   Maria Harkjaer Jensen                       118624.0     NaN
46458                      Bjarne Bilenberg Pihl     21845.0     NaN
71351                     Flemming Hyrup Eriksen     45602.0     NaN
87686                            Anders Jrgensen     49942.0     NaN
103244                           HONG YU LAURSEN     72965.0     NaN
186886                           Lindemarque ApS  12162201.0     NaN
188569                          Maria A. Ferrari  12133269.0     NaN
188722                        Edvard F. Pedersen  12133268.0     NaN
189629                       Michael Christensen  12164821.0     NaN
190151                      RENE BRUUN LAURITSEN  12162745.0     NaN
195027                        Mads Sidenius Rode  12154442.0     NaN
198827                                 JAN RUNGE  12142933.0     NaN
201830                             Casper Hallas  12145903.0     NaN
202018                         Allan Vestergaard  12146111.0     NaN
202582                     WESTLAND HOLDINGS APS  12146640.0     NaN
204327                    Thomas Frithjof HANSEN  12163214.0     NaN
207678                              Marc Haywood  12212785.0     NaN
207862                      MR.BORIS ZINGAREVICH  12212965.0     NaN
209187                                RUSSEL Aps  12214526.0     NaN
209793           Semapa Shipping and Trading ApS  12214967.0     NaN
210243                                PETER BOEL  12215434.0     NaN
...                                          ...         ...     ...
267893                           HUANG XIAO CHUN  12151629.0     NaN
268469                     MR. VOLODYMYR POTAPOV  12152206.0     NaN
268933                         THOMAS KJELDGAARD  12152742.0     NaN
268934                        YURY SHAPOSHINIKOV  12152743.0     NaN
272414                             Casper Hallas  12156100.0     NaN
273557             J.J. MIDDLE EAST HOLDINGS APS  12157191.0     NaN
273558                    JESPER HOJER MATHIESEN  12157192.0     NaN
273567                             Bo Kristensen  12157202.0     NaN
273885                            Claus Sjogreen  12157505.0     NaN
274690                          POUL-ERIK BRANDT  12158271.0     NaN
275940                                THE BEARER  12159575.0     NaN
277627                           KNUD FOLDSCHACK  12161321.0     NaN
279215                          Kenneth HARRITSØ  12163026.0     NaN
280403                      BERTA MOLKE-HITFELDT  12164520.0     NaN
280404      LUCAS SECON / BERTA MOLTKE-HUITFELDT  12164521.0     NaN
281407                                 Revis ApS  12165395.0     NaN
285646                     Rasmus Gahms Ellefsen  12169972.0     NaN
287495                            CARSTEM BERGER  12171859.0     NaN
288628                       CLAUS TROLES HANSON  12173067.0     NaN
299102                       JAN HOJER MATHIESEN  12183792.0     NaN
300629            ROYAL CONSUL INTERNATIONAL APS  12185345.0     NaN
308866                          Per-Arne WINBERG  12193726.0     NaN
313995                           ASVALD SIMONSEN  12198932.0     NaN
319849                            Tobias Schelle  12204888.0     NaN
327945                  Frank Kehlskov MORTENSEN  12223066.0     NaN
328336                         RENE B. LAURITSEN  12223521.0     NaN
328934                                THE BEARER  12224159.0     NaN
329595                 Jakob Lykkegaard Pedersen  12224861.0     NaN
334722                              S L SIMONSEN  13005066.0     NaN
343534                      MR. DAN BENNY HANSEN  13000944.0     NaN

[65 rows x 3 columns]

In [20]:
len(edgelist)

1265690

In [27]:
print np.unique(dfs[2]['node_1']).shape

(459188,)

In [28]:
print np.unique(dfs[2]['node_2']).shape

(492143,)

In [30]:
G = nx.MultiDiGraph()
edgelist = [(a,c,{'rel_type':b}) for (a,b,c) in zip(dfs[2]['node_1'],dfs[2]['rel_type'],dfs[2]['node_2'])]
# dont try to build the graph